@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #101114;
}

@theme {
  --colors: {
    black-1: #101114;
    black-6: #1a1a1a;
    gray-1: #666666;
    white-1: #ffffff;
  }

  /* Spacing System */
  --spacing: {
    2: 8px;
    3: 12px;
    5: 20px;
    8: 32px;
  }

  --font-sizes: {
    12: 12px;
    14: 14px;
    16: 16px;
    18: 18px;
    20: 20px;
    24: 24px;
    32: 32px;
  }

  --border-radius: {
    sm: 6px;
    lg: 8px;
    xl: 12px;
  }
}

@layer utilities {
  .input-class {
    font-size: 16px; /* Assuming 'text-16' maps to this, or use var(--text-16) if explicitly defined as a variable */
    line-height: normal;
    color: var(--gray-1); /* Reference your configured CSS variable */
    background-color: var(--black-1);
    border-radius: 6px;
    border: none;
  }
  .input-class::placeholder {
    font-size: 16px;
    color: var(--gray-1);
  }

  .podcast_grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px; /* Equivalent to gap-5 */
  }
  @media (min-width: 640px) {
    /* sm breakpoint */
    .podcast_grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (min-width: 1024px) {
    /* lg breakpoint */
    .podcast_grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media (min-width: 1536px) {
    /* 2xl breakpoint */
    .podcast_grid {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  .right_sidebar {
    position: sticky;
    right: 0;
    top: 0;
    display: flex;
    width: 310px;
    flex-direction: column;
    overflow-y: hidden;
    border: none;
    background-color: var(--black-1);
    padding: 32px 30px;
  }
  @media (max-width: 1279px) {
    .right_sidebar {
      display: none;
    }
  }

  .left_sidebar {
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background-color: var(--black-1);
    padding-top: 32px; /* pt-8 */
    color: var(--white-1);
  }
  @media (max-width: 767px) {
    /* max-md breakpoint */
    .left_sidebar {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    /* lg breakpoint */
    .left_sidebar {
      width: 270px;
      padding-left: 32px; /* lg:pl-8 */
    }
  }

  .generate_thumbnail {
    margin-top: 30px;
    display: flex;
    width: 100%;
    max-width: 520px;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px; /* gap-2 */
    border-radius: 8px; /* rounded-lg */
    border: 1px solid var(--black-6);
    background-color: var(--black-1);
    padding: 8px 10px; /* px-2.5 py-2 */
  }
  @media (min-width: 768px) {
    /* md breakpoint */
    .generate_thumbnail {
      flex-direction: row;
      gap: 0;
    }
  }

  .image_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* mt-5 */
    height: 142px;
    width: 100%;
    cursor: pointer;
    flex-direction: column;
    gap: 12px; /* gap-3 */
    border-radius: 12px; /* rounded-xl */
    border: 3.2px dashed var(--black-6);
    background-color: var(--black-1);
  }

  .carousel_box {
    position: relative;
    display: flex;
    height: fit-content;
    aspect-ratio: 1 / 1;
    width: 100%;
    flex-shrink: 0; /* flex-none */
    cursor: pointer;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 12px; /* rounded-xl */
    border: none;
  }

  .button_bold-16 {
    font-size: 16px;
    font-weight: bold;
    color: var(--white-1);
    transition: all 500ms;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-12 {
    font-size: 12px;
    line-height: normal;
  }
  .text-14 {
    font-size: 14px;
    line-height: normal;
  }
  .text-16 {
    font-size: 16px;
    line-height: normal;
  }
  .text-18 {
    font-size: 18px;
    line-height: normal;
  }
  .text-20 {
    font-size: 18px;
    line-height: normal;
  }
  .text-24 {
    font-size: 24px;
    line-height: normal;
  }
  .text-32 {
    font-size: 32px;
    line-height: normal;
  }
}

/* ===== custom classes ===== */

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #15171c;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #222429;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism-auth {
  background: rgba(6, 3, 3, 0.711);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism-black {
  background: rgba(18, 18, 18, 0.64);
  backdrop-filter: blur(37px);
  -webkit-backdrop-filter: blur(37px);
}

/* ======= clerk overrides ======== */
.cl-socialButtonsIconButton {
  border: 2px solid #222429;
}
.cl-button {
  color: white;
}
.cl-socialButtonsProviderIcon__github {
  filter: invert(1);
}
.cl-internal-b3fm6y {
  background: #f97535;
}
.cl-formButtonPrimary {
  background: #f97535;
}
.cl-footerActionLink {
  color: #f97535;
}
.cl-headerSubtitle {
  color: #c5d0e6;
}
.cl-logoImage {
  width: 10rem;
  height: 3rem;
}
.cl-internal-4a7e9l {
  color: white;
}

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}
.cl-internal-wkkub3 {
  color: #f97535;
}
/* 
@theme{
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
  --text-white-1: #FFFFFF;
  --text-white-2: rgba(255, 255, 255, 0.72);
  --text-whiite-3: rgba(255, 255, 255, 0.4);
  --text-white-4: rgba(255, 255, 255, 0.64);
  --text-white-5: rgba(255, 255, 255, 0.8);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
} */
